consumidorSOAP/xml-resources/web-service-references/WebServiceSOAP/wsdl/localhost_8080/4-SOAP/WebServiceSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://daw2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://daw2/" name="WebServiceSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://daw2/" schemaLocation="http://localhost:8080/4-SOAP/WebServiceSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="moureJugador">
<part name="parameters" element="tns:moureJugador"/>
</message>
<message name="moureJugadorResponse">
<part name="parameters" element="tns:moureJugadorResponse"/>
</message>
<message name="jugarPartida">
<part name="parameters" element="tns:jugarPartida"/>
</message>
<message name="jugarPartidaResponse">
<part name="parameters" element="tns:jugarPartidaResponse"/>
</message>
<message name="consultarServidor">
<part name="parameters" element="tns:consultarServidor"/>
</message>
<message name="consultarServidorResponse">
<part name="parameters" element="tns:consultarServidorResponse"/>
</message>
<message name="iniciarPartida">
<part name="parameters" element="tns:iniciarPartida"/>
</message>
<message name="iniciarPartidaResponse">
<part name="parameters" element="tns:iniciarPartidaResponse"/>
</message>
<message name="consultarEstatPartida">
<part name="parameters" element="tns:consultarEstatPartida"/>
</message>
<message name="consultarEstatPartidaResponse">
<part name="parameters" element="tns:consultarEstatPartidaResponse"/>
</message>
<message name="acabarPartida">
<part name="parameters" element="tns:acabarPartida"/>
</message>
<message name="acabarPartidaResponse">
<part name="parameters" element="tns:acabarPartidaResponse"/>
</message>
<portType name="WebServiceSOAP">
<operation name="moureJugador">
<input wsam:Action="http://daw2/WebServiceSOAP/moureJugadorRequest" message="tns:moureJugador"/>
<output wsam:Action="http://daw2/WebServiceSOAP/moureJugadorResponse" message="tns:moureJugadorResponse"/>
</operation>
<operation name="jugarPartida">
<input wsam:Action="http://daw2/WebServiceSOAP/jugarPartidaRequest" message="tns:jugarPartida"/>
<output wsam:Action="http://daw2/WebServiceSOAP/jugarPartidaResponse" message="tns:jugarPartidaResponse"/>
</operation>
<operation name="consultarServidor">
<input wsam:Action="http://daw2/WebServiceSOAP/consultarServidorRequest" message="tns:consultarServidor"/>
<output wsam:Action="http://daw2/WebServiceSOAP/consultarServidorResponse" message="tns:consultarServidorResponse"/>
</operation>
<operation name="iniciarPartida">
<input wsam:Action="http://daw2/WebServiceSOAP/iniciarPartidaRequest" message="tns:iniciarPartida"/>
<output wsam:Action="http://daw2/WebServiceSOAP/iniciarPartidaResponse" message="tns:iniciarPartidaResponse"/>
</operation>
<operation name="consultarEstatPartida">
<input wsam:Action="http://daw2/WebServiceSOAP/consultarEstatPartidaRequest" message="tns:consultarEstatPartida"/>
<output wsam:Action="http://daw2/WebServiceSOAP/consultarEstatPartidaResponse" message="tns:consultarEstatPartidaResponse"/>
</operation>
<operation name="acabarPartida">
<input wsam:Action="http://daw2/WebServiceSOAP/acabarPartidaRequest" message="tns:acabarPartida"/>
<output wsam:Action="http://daw2/WebServiceSOAP/acabarPartidaResponse" message="tns:acabarPartidaResponse"/>
</operation>
</portType>
<binding name="WebServiceSOAPPortBinding" type="tns:WebServiceSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="moureJugador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jugarPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarServidor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iniciarPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarEstatPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acabarPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceSOAP">
<port name="WebServiceSOAPPort" binding="tns:WebServiceSOAPPortBinding">
<soap:address location="http://localhost:8080/4-SOAP/WebServiceSOAP"/>
</port>
</service>
</definitions>